In [1]:
import pandas as pd
import numpy as np

In [23]:
crosswalk = pd.read_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/ZIP-COUNTY-FIPS_2017-06.csv')

In [26]:
zip_county_map = pd.Series(crosswalk['COUNTYNAME'].values, index = crosswalk['ZIP'].values).to_dict()

In [27]:
zip_fips_map = pd.Series(crosswalk['STCOUNTYFP'].values, index = crosswalk['ZIP'].values).to_dict()

In [28]:
merged_all = pd.read_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/College scorecard/CollegeScorecard_Raw_Data/merged_all_scorecard_indicators_longitudinal_zips_RESET FROM HERE 42919.csv')

In [35]:
merged_all['County'] = merged_all['Zipcodes'].map(zip_county_map)

In [39]:
merged_all['FIPS'] = merged_all['Zipcodes'].map(zip_fips_map)

In [41]:
merged_all.to_csv('C:/Users/jbachlombardo/Documents/Community Colleges/Data/College scorecard/CollegeScorecard_Raw_Data/merged_all_scorecard_indicators_longitudinal_zips_RESET FROM HERE 42919.csv')

In [48]:
#FIXED MANUALLY
merged_all[merged_all['FIPS'].isnull()][['UNITID', 'INSTNM', 'STABBR', 'Zipcodes', 'County', 'FIPS']]

,UNITID,INSTNM,STABBR,Zipcodes,County,FIPS
47,106999,University of Arkansas Community College-Bates...,AR,72503,NaN,NaN
285,146685,Lincoln Land Community College,IL,62794,NaN,NaN
632,198817,Lenoir Community College,NC,28502,NaN,NaN
970,243638,College of Micronesia-FSM,FM,96941,NaN,NaN
971,243647,Palau Community College,PW,96940,NaN,NaN
1048,376695,College of the Marshall Islands,MH,96960,NaN,NaN

In [51]:
fips_couny_map = pd.Series(crosswalk['STCOUNTYFP'].values, index = crosswalk['COUNTYNAME'].values).to_dict()